body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
    background-image: url(echi_3.jpg);
  }
.hello {font-family: 'PT Serif', serif;}
.warna-1{background-color: #929AAB;}
.warna-2{background-color: #393E46;}
.warna-3{background-color: #EEEEEE;}

.warna-teks1{color: #929AAB;}
.warna-teks2{color: #393E46;}
.warna-teks3{color: #EEEEEE;}
.warna-teks4{color :#000}

table, th, td { 
    border: 1px solid black; 
    color:brown; 
    font-size: large; 
}
header h3 span{
    font-family: 'Playfair Display', serif;
    letter-spacing: -5px;
}


.bgimg-1 .caption{font-family:'Kalam', cursive;}
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("echi_3.jpg");
  min-height: 100%;
}

.bgimg-1 h3 span {
  font-family: 'Playfair Display', serif;
  letter-spacing: -5px;
}

.bgimg-2 {
  background-image: url("echi_4.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("echi_7.jpg");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("echi_8.jpg");
  min-height: 100%;
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  border: 0px !important;
}



/* Turn off parallax scrolling for tablets and phones */
/* @media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
} */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */


/* .cover-container {
  max-width: 42em;
} */

/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(17, 17, 17, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: rgba(17, 17, 17, .5);
  border-bottom-color: rgba(17, 17, 17, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: rgb(17, 17, 17);
  border-bottom-color: rgba(17, 17, 17, .25);
}

.caption a{
  text-decoration: none;
}

.caption a span:hover {color: rgb(17, 17, 17);
  background-color: white;
  transition: 0.5s;}

.caption a span{
  transition: 0.5s;
}
/* \untuk header section */
.header-section p{
    display: none;
}
.header-section p:hover{display: block;}
